=begin
#KOMOJU API

#Full featured access to the KOMOJU payments system.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module Komoju
  class SettlementsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Settlement: Index
    # Retrieves a paginated list of settlements from most-recent to least-recent. Pagination can be configured with `page` and `per_page` parameters.
    # @param [Hash] opts the optional parameters
    # @option opts [Time] :start_time Query for records created after this time.
    # @option opts [Time] :end_time Query for records created before this time.
    # @option opts [Integer] :per_page How many objects per page.
    # @option opts [Integer] :page Page number to query for.
    # @return [SettlementList]
    def list_settlements(opts = {})
      data, _status_code, _headers = list_settlements_with_http_info(opts)
      data
    end

    # Settlement: Index
    # Retrieves a paginated list of settlements from most-recent to least-recent. Pagination can be configured with &#x60;page&#x60; and &#x60;per_page&#x60; parameters.
    # @param [Hash] opts the optional parameters
    # @option opts [Time] :start_time Query for records created after this time.
    # @option opts [Time] :end_time Query for records created before this time.
    # @option opts [Integer] :per_page How many objects per page.
    # @option opts [Integer] :page Page number to query for.
    # @return [Array<(SettlementList, Integer, Hash)>] SettlementList data, response status code and response headers
    def list_settlements_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SettlementsApi.list_settlements ...'
      end
      # resource path
      local_var_path = '/settlements'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'start_time'] = opts[:'start_time'] if !opts[:'start_time'].nil?
      query_params[:'end_time'] = opts[:'end_time'] if !opts[:'end_time'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SettlementList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"SettlementsApi.list_settlements",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SettlementsApi#list_settlements\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Settlement: Show
    # Retrieves a single settlement by its `id`, including a breakdown of payments, refunds, fees, corrections, and disbursements.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [SettlementShow]
    def show_settlement(id, opts = {})
      data, _status_code, _headers = show_settlement_with_http_info(id, opts)
      data
    end

    # Settlement: Show
    # Retrieves a single settlement by its &#x60;id&#x60;, including a breakdown of payments, refunds, fees, corrections, and disbursements.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SettlementShow, Integer, Hash)>] SettlementShow data, response status code and response headers
    def show_settlement_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SettlementsApi.show_settlement ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SettlementsApi.show_settlement"
      end
      if @api_client.config.client_side_validation && id.to_s.length > 25
        fail ArgumentError, 'invalid value for "id" when calling SettlementsApi.show_settlement, the character length must be smaller than or equal to 25.'
      end

      if @api_client.config.client_side_validation && id.to_s.length < 25
        fail ArgumentError, 'invalid value for "id" when calling SettlementsApi.show_settlement, the character length must be great than or equal to 25.'
      end

      # resource path
      local_var_path = '/settlements/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SettlementShow'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"SettlementsApi.show_settlement",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SettlementsApi#show_settlement\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Settlement: CSV
    # Retrieves the settlement in CSV format.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def show_settlement_csv(id, opts = {})
      show_settlement_csv_with_http_info(id, opts)
      nil
    end

    # Settlement: CSV
    # Retrieves the settlement in CSV format.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def show_settlement_csv_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SettlementsApi.show_settlement_csv ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SettlementsApi.show_settlement_csv"
      end
      if @api_client.config.client_side_validation && id.to_s.length > 25
        fail ArgumentError, 'invalid value for "id" when calling SettlementsApi.show_settlement_csv, the character length must be smaller than or equal to 25.'
      end

      if @api_client.config.client_side_validation && id.to_s.length < 25
        fail ArgumentError, 'invalid value for "id" when calling SettlementsApi.show_settlement_csv, the character length must be great than or equal to 25.'
      end

      # resource path
      local_var_path = '/settlements/{id}/csv'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"SettlementsApi.show_settlement_csv",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SettlementsApi#show_settlement_csv\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Settlement: PDF
    # Retrieves the settlement in PDF format.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def show_settlement_pdf(id, opts = {})
      show_settlement_pdf_with_http_info(id, opts)
      nil
    end

    # Settlement: PDF
    # Retrieves the settlement in PDF format.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def show_settlement_pdf_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SettlementsApi.show_settlement_pdf ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SettlementsApi.show_settlement_pdf"
      end
      if @api_client.config.client_side_validation && id.to_s.length > 25
        fail ArgumentError, 'invalid value for "id" when calling SettlementsApi.show_settlement_pdf, the character length must be smaller than or equal to 25.'
      end

      if @api_client.config.client_side_validation && id.to_s.length < 25
        fail ArgumentError, 'invalid value for "id" when calling SettlementsApi.show_settlement_pdf, the character length must be great than or equal to 25.'
      end

      # resource path
      local_var_path = '/settlements/{id}/pdf'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"SettlementsApi.show_settlement_pdf",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SettlementsApi#show_settlement_pdf\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Settlement: XLS
    # Retrieves the settlement in XLS format.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def show_settlement_xls(id, opts = {})
      show_settlement_xls_with_http_info(id, opts)
      nil
    end

    # Settlement: XLS
    # Retrieves the settlement in XLS format.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def show_settlement_xls_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SettlementsApi.show_settlement_xls ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SettlementsApi.show_settlement_xls"
      end
      if @api_client.config.client_side_validation && id.to_s.length > 25
        fail ArgumentError, 'invalid value for "id" when calling SettlementsApi.show_settlement_xls, the character length must be smaller than or equal to 25.'
      end

      if @api_client.config.client_side_validation && id.to_s.length < 25
        fail ArgumentError, 'invalid value for "id" when calling SettlementsApi.show_settlement_xls, the character length must be great than or equal to 25.'
      end

      # resource path
      local_var_path = '/settlements/{id}/xls'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"SettlementsApi.show_settlement_xls",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SettlementsApi#show_settlement_xls\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Balance: Transaction
    # Retrieves a single ledger transaction by its UUID for the given currency.
    # @param currency [Currency] 
    # @param transaction_uuid [String] 
    # @param [Hash] opts the optional parameters
    # @return [Transaction]
    def show_transaction(currency, transaction_uuid, opts = {})
      data, _status_code, _headers = show_transaction_with_http_info(currency, transaction_uuid, opts)
      data
    end

    # Balance: Transaction
    # Retrieves a single ledger transaction by its UUID for the given currency.
    # @param currency [Currency] 
    # @param transaction_uuid [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Transaction, Integer, Hash)>] Transaction data, response status code and response headers
    def show_transaction_with_http_info(currency, transaction_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SettlementsApi.show_transaction ...'
      end
      # verify the required parameter 'currency' is set
      if @api_client.config.client_side_validation && currency.nil?
        fail ArgumentError, "Missing the required parameter 'currency' when calling SettlementsApi.show_transaction"
      end
      # verify the required parameter 'transaction_uuid' is set
      if @api_client.config.client_side_validation && transaction_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'transaction_uuid' when calling SettlementsApi.show_transaction"
      end
      if @api_client.config.client_side_validation && transaction_uuid.to_s.length > 25
        fail ArgumentError, 'invalid value for "transaction_uuid" when calling SettlementsApi.show_transaction, the character length must be smaller than or equal to 25.'
      end

      if @api_client.config.client_side_validation && transaction_uuid.to_s.length < 25
        fail ArgumentError, 'invalid value for "transaction_uuid" when calling SettlementsApi.show_transaction, the character length must be great than or equal to 25.'
      end

      # resource path
      local_var_path = '/balances/{currency}/transactions/{transaction_uuid}'.sub('{' + 'currency' + '}', CGI.escape(currency.to_s)).sub('{' + 'transaction_uuid' + '}', CGI.escape(transaction_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Transaction'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"SettlementsApi.show_transaction",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SettlementsApi#show_transaction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
