=begin
#KOMOJU API

#Full featured access to the KOMOJU payments system.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.18.0

=end

require 'cgi'

module Komoju
  class PlatformModelApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Balance: Transfer
    # 
    # @param currency [Currency] 
    # @param balance_transfer_request [BalanceTransferRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Transfer]
    def balance_transfer(currency, balance_transfer_request, opts = {})
      data, _status_code, _headers = balance_transfer_with_http_info(currency, balance_transfer_request, opts)
      data
    end

    # Balance: Transfer
    # 
    # @param currency [Currency] 
    # @param balance_transfer_request [BalanceTransferRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Transfer, Integer, Hash)>] Transfer data, response status code and response headers
    def balance_transfer_with_http_info(currency, balance_transfer_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlatformModelApi.balance_transfer ...'
      end
      # verify the required parameter 'currency' is set
      if @api_client.config.client_side_validation && currency.nil?
        fail ArgumentError, "Missing the required parameter 'currency' when calling PlatformModelApi.balance_transfer"
      end
      # verify the required parameter 'balance_transfer_request' is set
      if @api_client.config.client_side_validation && balance_transfer_request.nil?
        fail ArgumentError, "Missing the required parameter 'balance_transfer_request' when calling PlatformModelApi.balance_transfer"
      end
      # resource path
      local_var_path = '/balances/{currency}/transfer'.sub('{' + 'currency' + '}', CGI.escape(currency.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(balance_transfer_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Transfer'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"PlatformModelApi.balance_transfer",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlatformModelApi#balance_transfer\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # File: Create
    # Creates a new file for the current merchant.
    # @param merchant_id [String] 
    # @param create_file_request [CreateFileRequest] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantFile]
    def create_file(merchant_id, create_file_request, opts = {})
      data, _status_code, _headers = create_file_with_http_info(merchant_id, create_file_request, opts)
      data
    end

    # File: Create
    # Creates a new file for the current merchant.
    # @param merchant_id [String] 
    # @param create_file_request [CreateFileRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantFile, Integer, Hash)>] MerchantFile data, response status code and response headers
    def create_file_with_http_info(merchant_id, create_file_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlatformModelApi.create_file ...'
      end
      # verify the required parameter 'merchant_id' is set
      if @api_client.config.client_side_validation && merchant_id.nil?
        fail ArgumentError, "Missing the required parameter 'merchant_id' when calling PlatformModelApi.create_file"
      end
      # verify the required parameter 'create_file_request' is set
      if @api_client.config.client_side_validation && create_file_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_file_request' when calling PlatformModelApi.create_file"
      end
      # resource path
      local_var_path = '/merchants/{merchant_id}/files'.sub('{' + 'merchant_id' + '}', CGI.escape(merchant_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_file_request)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantFile'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"PlatformModelApi.create_file",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlatformModelApi#create_file\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Merchant: Create
    # Creates a new merchant.
    # @param create_merchant_request [CreateMerchantRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def create_merchant(create_merchant_request, opts = {})
      create_merchant_with_http_info(create_merchant_request, opts)
      nil
    end

    # Merchant: Create
    # Creates a new merchant.
    # @param create_merchant_request [CreateMerchantRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def create_merchant_with_http_info(create_merchant_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlatformModelApi.create_merchant ...'
      end
      # verify the required parameter 'create_merchant_request' is set
      if @api_client.config.client_side_validation && create_merchant_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_merchant_request' when calling PlatformModelApi.create_merchant"
      end
      # resource path
      local_var_path = '/merchants'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_merchant_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"PlatformModelApi.create_merchant",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlatformModelApi#create_merchant\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Balance: Transfer
    # Creates a balance transfer between associated merchants for a given `amount` and `currency`.
    # @param merchant_id [String] 
    # @param currency [Currency] 
    # @param create_merchant_balance_transfer_request [CreateMerchantBalanceTransferRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def create_merchant_balance_transfer(merchant_id, currency, create_merchant_balance_transfer_request, opts = {})
      create_merchant_balance_transfer_with_http_info(merchant_id, currency, create_merchant_balance_transfer_request, opts)
      nil
    end

    # Balance: Transfer
    # Creates a balance transfer between associated merchants for a given &#x60;amount&#x60; and &#x60;currency&#x60;.
    # @param merchant_id [String] 
    # @param currency [Currency] 
    # @param create_merchant_balance_transfer_request [CreateMerchantBalanceTransferRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def create_merchant_balance_transfer_with_http_info(merchant_id, currency, create_merchant_balance_transfer_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlatformModelApi.create_merchant_balance_transfer ...'
      end
      # verify the required parameter 'merchant_id' is set
      if @api_client.config.client_side_validation && merchant_id.nil?
        fail ArgumentError, "Missing the required parameter 'merchant_id' when calling PlatformModelApi.create_merchant_balance_transfer"
      end
      # verify the required parameter 'currency' is set
      if @api_client.config.client_side_validation && currency.nil?
        fail ArgumentError, "Missing the required parameter 'currency' when calling PlatformModelApi.create_merchant_balance_transfer"
      end
      # verify the required parameter 'create_merchant_balance_transfer_request' is set
      if @api_client.config.client_side_validation && create_merchant_balance_transfer_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_merchant_balance_transfer_request' when calling PlatformModelApi.create_merchant_balance_transfer"
      end
      # resource path
      local_var_path = '/balances/{merchant_id}/balances/{currency}/transfer'.sub('{' + 'merchant_id' + '}', CGI.escape(merchant_id.to_s)).sub('{' + 'currency' + '}', CGI.escape(currency.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_merchant_balance_transfer_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"PlatformModelApi.create_merchant_balance_transfer",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlatformModelApi#create_merchant_balance_transfer\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Balances: Edit Settings
    # Given a currency, edit the payout settings of the currently authenticated merchant or one of its sub-merchants.
    # @param merchant_id [String] 
    # @param currency [Currency] 
    # @param edit_merchant_balance_settings_request [EditMerchantBalanceSettingsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def edit_merchant_balance_settings(merchant_id, currency, edit_merchant_balance_settings_request, opts = {})
      edit_merchant_balance_settings_with_http_info(merchant_id, currency, edit_merchant_balance_settings_request, opts)
      nil
    end

    # Balances: Edit Settings
    # Given a currency, edit the payout settings of the currently authenticated merchant or one of its sub-merchants.
    # @param merchant_id [String] 
    # @param currency [Currency] 
    # @param edit_merchant_balance_settings_request [EditMerchantBalanceSettingsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def edit_merchant_balance_settings_with_http_info(merchant_id, currency, edit_merchant_balance_settings_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlatformModelApi.edit_merchant_balance_settings ...'
      end
      # verify the required parameter 'merchant_id' is set
      if @api_client.config.client_side_validation && merchant_id.nil?
        fail ArgumentError, "Missing the required parameter 'merchant_id' when calling PlatformModelApi.edit_merchant_balance_settings"
      end
      # verify the required parameter 'currency' is set
      if @api_client.config.client_side_validation && currency.nil?
        fail ArgumentError, "Missing the required parameter 'currency' when calling PlatformModelApi.edit_merchant_balance_settings"
      end
      # verify the required parameter 'edit_merchant_balance_settings_request' is set
      if @api_client.config.client_side_validation && edit_merchant_balance_settings_request.nil?
        fail ArgumentError, "Missing the required parameter 'edit_merchant_balance_settings_request' when calling PlatformModelApi.edit_merchant_balance_settings"
      end
      # resource path
      local_var_path = '/balances/{merchant_id}/balances/{currency}/settings'.sub('{' + 'merchant_id' + '}', CGI.escape(merchant_id.to_s)).sub('{' + 'currency' + '}', CGI.escape(currency.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(edit_merchant_balance_settings_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"PlatformModelApi.edit_merchant_balance_settings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlatformModelApi#edit_merchant_balance_settings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Live Application: Payment Methods
    # List submitted/unsubmitted payment methods
    # @param merchant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Locale] :locale 
    # @return [nil]
    def list_live_application_payment_methods(merchant_id, opts = {})
      list_live_application_payment_methods_with_http_info(merchant_id, opts)
      nil
    end

    # Live Application: Payment Methods
    # List submitted/unsubmitted payment methods
    # @param merchant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Locale] :locale 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def list_live_application_payment_methods_with_http_info(merchant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlatformModelApi.list_live_application_payment_methods ...'
      end
      # verify the required parameter 'merchant_id' is set
      if @api_client.config.client_side_validation && merchant_id.nil?
        fail ArgumentError, "Missing the required parameter 'merchant_id' when calling PlatformModelApi.list_live_application_payment_methods"
      end
      # resource path
      local_var_path = '/live_application/{merchant_id}/payment_methods'.sub('{' + 'merchant_id' + '}', CGI.escape(merchant_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'locale'] = opts[:'locale'] if !opts[:'locale'].nil?

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"PlatformModelApi.list_live_application_payment_methods",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlatformModelApi#list_live_application_payment_methods\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Merchant: List
    # Sub-merchants List
    # @param [Hash] opts the optional parameters
    # @option opts [Time] :start_time Query for records created after this time.
    # @option opts [Time] :end_time Query for records before after this time.
    # @option opts [Integer] :per_page How many objects per page.
    # @option opts [Integer] :page Page number to query for.
    # @option opts [Boolean] :live 
    # @option opts [MerchantRole] :platform_role 
    # @option opts [String] :application_status 
    # @option opts [Boolean] :payments_enabled 
    # @option opts [Boolean] :payouts_enabled 
    # @return [nil]
    def list_merchants(opts = {})
      list_merchants_with_http_info(opts)
      nil
    end

    # Merchant: List
    # Sub-merchants List
    # @param [Hash] opts the optional parameters
    # @option opts [Time] :start_time Query for records created after this time.
    # @option opts [Time] :end_time Query for records before after this time.
    # @option opts [Integer] :per_page How many objects per page.
    # @option opts [Integer] :page Page number to query for.
    # @option opts [Boolean] :live 
    # @option opts [MerchantRole] :platform_role 
    # @option opts [String] :application_status 
    # @option opts [Boolean] :payments_enabled 
    # @option opts [Boolean] :payouts_enabled 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def list_merchants_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlatformModelApi.list_merchants ...'
      end
      # resource path
      local_var_path = '/merchants'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'start_time'] = opts[:'start_time'] if !opts[:'start_time'].nil?
      query_params[:'end_time'] = opts[:'end_time'] if !opts[:'end_time'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'live'] = opts[:'live'] if !opts[:'live'].nil?
      query_params[:'platform_role'] = opts[:'platform_role'] if !opts[:'platform_role'].nil?
      query_params[:'application_status'] = opts[:'application_status'] if !opts[:'application_status'].nil?
      query_params[:'payments_enabled'] = opts[:'payments_enabled'] if !opts[:'payments_enabled'].nil?
      query_params[:'payouts_enabled'] = opts[:'payouts_enabled'] if !opts[:'payouts_enabled'].nil?

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"PlatformModelApi.list_merchants",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlatformModelApi#list_merchants\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Payment: List for Merchant
    # Retrieves a paginated list of payments. Pagination can be configured with `page` and `per_page` parameters.  Payments can be filtered by `currency`, `external_order_num`, and `status`.  A time range can be specified with `start_time`, and `end_time`.
    # @param merchant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Time] :start_time Query for records created after this time.
    # @option opts [Time] :end_time Query for records before after this time.
    # @option opts [Integer] :per_page How many objects per page.
    # @option opts [Integer] :page Page number to query for.
    # @option opts [Currency] :currency 
    # @option opts [String] :external_order_num 
    # @option opts [PaymentStatus] :status 
    # @return [nil]
    def list_submerchant_payments(merchant_id, opts = {})
      list_submerchant_payments_with_http_info(merchant_id, opts)
      nil
    end

    # Payment: List for Merchant
    # Retrieves a paginated list of payments. Pagination can be configured with &#x60;page&#x60; and &#x60;per_page&#x60; parameters.  Payments can be filtered by &#x60;currency&#x60;, &#x60;external_order_num&#x60;, and &#x60;status&#x60;.  A time range can be specified with &#x60;start_time&#x60;, and &#x60;end_time&#x60;.
    # @param merchant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Time] :start_time Query for records created after this time.
    # @option opts [Time] :end_time Query for records before after this time.
    # @option opts [Integer] :per_page How many objects per page.
    # @option opts [Integer] :page Page number to query for.
    # @option opts [Currency] :currency 
    # @option opts [String] :external_order_num 
    # @option opts [PaymentStatus] :status 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def list_submerchant_payments_with_http_info(merchant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlatformModelApi.list_submerchant_payments ...'
      end
      # verify the required parameter 'merchant_id' is set
      if @api_client.config.client_side_validation && merchant_id.nil?
        fail ArgumentError, "Missing the required parameter 'merchant_id' when calling PlatformModelApi.list_submerchant_payments"
      end
      # resource path
      local_var_path = '/merchants/{merchant_id}/payments'.sub('{' + 'merchant_id' + '}', CGI.escape(merchant_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'start_time'] = opts[:'start_time'] if !opts[:'start_time'].nil?
      query_params[:'end_time'] = opts[:'end_time'] if !opts[:'end_time'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'currency'] = opts[:'currency'] if !opts[:'currency'].nil?
      query_params[:'external_order_num'] = opts[:'external_order_num'] if !opts[:'external_order_num'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"PlatformModelApi.list_submerchant_payments",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlatformModelApi#list_submerchant_payments\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Settlement: List
    # Lists out past settlements from most-recent to least-recent.
    # @param merchant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [SettlementList]
    def list_submerchant_settlements(merchant_id, opts = {})
      data, _status_code, _headers = list_submerchant_settlements_with_http_info(merchant_id, opts)
      data
    end

    # Settlement: List
    # Lists out past settlements from most-recent to least-recent.
    # @param merchant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SettlementList, Integer, Hash)>] SettlementList data, response status code and response headers
    def list_submerchant_settlements_with_http_info(merchant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlatformModelApi.list_submerchant_settlements ...'
      end
      # verify the required parameter 'merchant_id' is set
      if @api_client.config.client_side_validation && merchant_id.nil?
        fail ArgumentError, "Missing the required parameter 'merchant_id' when calling PlatformModelApi.list_submerchant_settlements"
      end
      # resource path
      local_var_path = '/merchants/{merchant_id}/settlements'.sub('{' + 'merchant_id' + '}', CGI.escape(merchant_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SettlementList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"PlatformModelApi.list_submerchant_settlements",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlatformModelApi#list_submerchant_settlements\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Balance: Transactions
    # Given a currency, view the ledger transactions of the currently authenticated merchant or one of its sub-merchants.
    # @param merchant_id [String] 
    # @param currency [Currency] 
    # @param [Hash] opts the optional parameters
    # @option opts [Time] :start_time Query for records created after this time.
    # @option opts [Time] :end_time Query for records before after this time.
    # @option opts [Integer] :per_page How many objects per page.
    # @option opts [Integer] :page Page number to query for.
    # @option opts [String] :type 
    # @return [BalanceTransactionList]
    def merchant_balance_transactions(merchant_id, currency, opts = {})
      data, _status_code, _headers = merchant_balance_transactions_with_http_info(merchant_id, currency, opts)
      data
    end

    # Balance: Transactions
    # Given a currency, view the ledger transactions of the currently authenticated merchant or one of its sub-merchants.
    # @param merchant_id [String] 
    # @param currency [Currency] 
    # @param [Hash] opts the optional parameters
    # @option opts [Time] :start_time Query for records created after this time.
    # @option opts [Time] :end_time Query for records before after this time.
    # @option opts [Integer] :per_page How many objects per page.
    # @option opts [Integer] :page Page number to query for.
    # @option opts [String] :type 
    # @return [Array<(BalanceTransactionList, Integer, Hash)>] BalanceTransactionList data, response status code and response headers
    def merchant_balance_transactions_with_http_info(merchant_id, currency, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlatformModelApi.merchant_balance_transactions ...'
      end
      # verify the required parameter 'merchant_id' is set
      if @api_client.config.client_side_validation && merchant_id.nil?
        fail ArgumentError, "Missing the required parameter 'merchant_id' when calling PlatformModelApi.merchant_balance_transactions"
      end
      # verify the required parameter 'currency' is set
      if @api_client.config.client_side_validation && currency.nil?
        fail ArgumentError, "Missing the required parameter 'currency' when calling PlatformModelApi.merchant_balance_transactions"
      end
      # resource path
      local_var_path = '/balances/{merchant_id}/balances/{currency}/transactions'.sub('{' + 'merchant_id' + '}', CGI.escape(merchant_id.to_s)).sub('{' + 'currency' + '}', CGI.escape(currency.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'start_time'] = opts[:'start_time'] if !opts[:'start_time'].nil?
      query_params[:'end_time'] = opts[:'end_time'] if !opts[:'end_time'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'type'] = opts[:'type'] if !opts[:'type'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BalanceTransactionList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"PlatformModelApi.merchant_balance_transactions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlatformModelApi#merchant_balance_transactions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # File: Show
    # Retrieves an existing file of the current merchant.
    # @param merchant_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantFile]
    def show_file(merchant_id, id, opts = {})
      data, _status_code, _headers = show_file_with_http_info(merchant_id, id, opts)
      data
    end

    # File: Show
    # Retrieves an existing file of the current merchant.
    # @param merchant_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantFile, Integer, Hash)>] MerchantFile data, response status code and response headers
    def show_file_with_http_info(merchant_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlatformModelApi.show_file ...'
      end
      # verify the required parameter 'merchant_id' is set
      if @api_client.config.client_side_validation && merchant_id.nil?
        fail ArgumentError, "Missing the required parameter 'merchant_id' when calling PlatformModelApi.show_file"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PlatformModelApi.show_file"
      end
      # resource path
      local_var_path = '/merchants/{merchant_id}/files/{id}'.sub('{' + 'merchant_id' + '}', CGI.escape(merchant_id.to_s)).sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantFile'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"PlatformModelApi.show_file",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlatformModelApi#show_file\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Live Application: Show
    # Shows the live application status of the applicant merchant
    # @param merchant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Locale] :locale 
    # @return [LiveApplication]
    def show_live_application(merchant_id, opts = {})
      data, _status_code, _headers = show_live_application_with_http_info(merchant_id, opts)
      data
    end

    # Live Application: Show
    # Shows the live application status of the applicant merchant
    # @param merchant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Locale] :locale 
    # @return [Array<(LiveApplication, Integer, Hash)>] LiveApplication data, response status code and response headers
    def show_live_application_with_http_info(merchant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlatformModelApi.show_live_application ...'
      end
      # verify the required parameter 'merchant_id' is set
      if @api_client.config.client_side_validation && merchant_id.nil?
        fail ArgumentError, "Missing the required parameter 'merchant_id' when calling PlatformModelApi.show_live_application"
      end
      # resource path
      local_var_path = '/live_application/{merchant_id}'.sub('{' + 'merchant_id' + '}', CGI.escape(merchant_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'locale'] = opts[:'locale'] if !opts[:'locale'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LiveApplication'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"PlatformModelApi.show_live_application",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlatformModelApi#show_live_application\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Live Application: Show Payment Method
    # Shows the payment method status of the applicant merchant
    # @param merchant_id [String] 
    # @param payment_method [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Locale] :locale 
    # @return [nil]
    def show_live_application_payment_method(merchant_id, payment_method, opts = {})
      show_live_application_payment_method_with_http_info(merchant_id, payment_method, opts)
      nil
    end

    # Live Application: Show Payment Method
    # Shows the payment method status of the applicant merchant
    # @param merchant_id [String] 
    # @param payment_method [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Locale] :locale 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def show_live_application_payment_method_with_http_info(merchant_id, payment_method, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlatformModelApi.show_live_application_payment_method ...'
      end
      # verify the required parameter 'merchant_id' is set
      if @api_client.config.client_side_validation && merchant_id.nil?
        fail ArgumentError, "Missing the required parameter 'merchant_id' when calling PlatformModelApi.show_live_application_payment_method"
      end
      # verify the required parameter 'payment_method' is set
      if @api_client.config.client_side_validation && payment_method.nil?
        fail ArgumentError, "Missing the required parameter 'payment_method' when calling PlatformModelApi.show_live_application_payment_method"
      end
      # resource path
      local_var_path = '/live_application/{merchant_id}/payment_methods/{payment_method}'.sub('{' + 'merchant_id' + '}', CGI.escape(merchant_id.to_s)).sub('{' + 'payment_method' + '}', CGI.escape(payment_method.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'locale'] = opts[:'locale'] if !opts[:'locale'].nil?

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"PlatformModelApi.show_live_application_payment_method",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlatformModelApi#show_live_application_payment_method\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Merchant: Show
    # Sub-merchant Detail
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def show_merchant(id, opts = {})
      show_merchant_with_http_info(id, opts)
      nil
    end

    # Merchant: Show
    # Sub-merchant Detail
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def show_merchant_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlatformModelApi.show_merchant ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PlatformModelApi.show_merchant"
      end
      # resource path
      local_var_path = '/merchants/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"PlatformModelApi.show_merchant",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlatformModelApi#show_merchant\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Balance: Show
    # Given a currency, view the unsettled balance of the currently authenticated merchant or one of its sub-merchants.
    # @param merchant_id [String] 
    # @param currency [Currency] 
    # @param [Hash] opts the optional parameters
    # @return [Balance]
    def show_merchant_balance(merchant_id, currency, opts = {})
      data, _status_code, _headers = show_merchant_balance_with_http_info(merchant_id, currency, opts)
      data
    end

    # Balance: Show
    # Given a currency, view the unsettled balance of the currently authenticated merchant or one of its sub-merchants.
    # @param merchant_id [String] 
    # @param currency [Currency] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Balance, Integer, Hash)>] Balance data, response status code and response headers
    def show_merchant_balance_with_http_info(merchant_id, currency, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlatformModelApi.show_merchant_balance ...'
      end
      # verify the required parameter 'merchant_id' is set
      if @api_client.config.client_side_validation && merchant_id.nil?
        fail ArgumentError, "Missing the required parameter 'merchant_id' when calling PlatformModelApi.show_merchant_balance"
      end
      # verify the required parameter 'currency' is set
      if @api_client.config.client_side_validation && currency.nil?
        fail ArgumentError, "Missing the required parameter 'currency' when calling PlatformModelApi.show_merchant_balance"
      end
      # resource path
      local_var_path = '/balances/{merchant_id}/balances/{currency}'.sub('{' + 'merchant_id' + '}', CGI.escape(merchant_id.to_s)).sub('{' + 'currency' + '}', CGI.escape(currency.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Balance'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"PlatformModelApi.show_merchant_balance",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlatformModelApi#show_merchant_balance\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Balance: Show Settings
    # Given a currency, view the payout settings of the currently authenticated merchant or one of its sub-merchants.
    # @param merchant_id [String] 
    # @param currency [Currency] 
    # @param [Hash] opts the optional parameters
    # @return [BalanceSettings]
    def show_merchant_balance_settings(merchant_id, currency, opts = {})
      data, _status_code, _headers = show_merchant_balance_settings_with_http_info(merchant_id, currency, opts)
      data
    end

    # Balance: Show Settings
    # Given a currency, view the payout settings of the currently authenticated merchant or one of its sub-merchants.
    # @param merchant_id [String] 
    # @param currency [Currency] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BalanceSettings, Integer, Hash)>] BalanceSettings data, response status code and response headers
    def show_merchant_balance_settings_with_http_info(merchant_id, currency, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlatformModelApi.show_merchant_balance_settings ...'
      end
      # verify the required parameter 'merchant_id' is set
      if @api_client.config.client_side_validation && merchant_id.nil?
        fail ArgumentError, "Missing the required parameter 'merchant_id' when calling PlatformModelApi.show_merchant_balance_settings"
      end
      # verify the required parameter 'currency' is set
      if @api_client.config.client_side_validation && currency.nil?
        fail ArgumentError, "Missing the required parameter 'currency' when calling PlatformModelApi.show_merchant_balance_settings"
      end
      # resource path
      local_var_path = '/balances/{merchant_id}/balances/{currency}/settings'.sub('{' + 'merchant_id' + '}', CGI.escape(merchant_id.to_s)).sub('{' + 'currency' + '}', CGI.escape(currency.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BalanceSettings'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"PlatformModelApi.show_merchant_balance_settings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlatformModelApi#show_merchant_balance_settings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Balance: Transaction
    # Given a currency and a transaction UUID, view the corresponding ledger transaction of the currently authenticated merchant or one of its sub-merchants.
    # @param merchant_id [String] 
    # @param currency [Currency] 
    # @param transaction_uuid [String] 
    # @param [Hash] opts the optional parameters
    # @return [Transaction]
    def show_merchant_balance_transaction(merchant_id, currency, transaction_uuid, opts = {})
      data, _status_code, _headers = show_merchant_balance_transaction_with_http_info(merchant_id, currency, transaction_uuid, opts)
      data
    end

    # Balance: Transaction
    # Given a currency and a transaction UUID, view the corresponding ledger transaction of the currently authenticated merchant or one of its sub-merchants.
    # @param merchant_id [String] 
    # @param currency [Currency] 
    # @param transaction_uuid [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Transaction, Integer, Hash)>] Transaction data, response status code and response headers
    def show_merchant_balance_transaction_with_http_info(merchant_id, currency, transaction_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlatformModelApi.show_merchant_balance_transaction ...'
      end
      # verify the required parameter 'merchant_id' is set
      if @api_client.config.client_side_validation && merchant_id.nil?
        fail ArgumentError, "Missing the required parameter 'merchant_id' when calling PlatformModelApi.show_merchant_balance_transaction"
      end
      # verify the required parameter 'currency' is set
      if @api_client.config.client_side_validation && currency.nil?
        fail ArgumentError, "Missing the required parameter 'currency' when calling PlatformModelApi.show_merchant_balance_transaction"
      end
      # verify the required parameter 'transaction_uuid' is set
      if @api_client.config.client_side_validation && transaction_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'transaction_uuid' when calling PlatformModelApi.show_merchant_balance_transaction"
      end
      # resource path
      local_var_path = '/balances/{merchant_id}/balances/{currency}/transactions/{transaction_uuid}'.sub('{' + 'merchant_id' + '}', CGI.escape(merchant_id.to_s)).sub('{' + 'currency' + '}', CGI.escape(currency.to_s)).sub('{' + 'transaction_uuid' + '}', CGI.escape(transaction_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Transaction'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"PlatformModelApi.show_merchant_balance_transaction",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlatformModelApi#show_merchant_balance_transaction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Settlement: Show
    # View a settlement given an `id`.
    # @param merchant_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Settlement]
    def show_submerchant_settlement(merchant_id, id, opts = {})
      data, _status_code, _headers = show_submerchant_settlement_with_http_info(merchant_id, id, opts)
      data
    end

    # Settlement: Show
    # View a settlement given an &#x60;id&#x60;.
    # @param merchant_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Settlement, Integer, Hash)>] Settlement data, response status code and response headers
    def show_submerchant_settlement_with_http_info(merchant_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlatformModelApi.show_submerchant_settlement ...'
      end
      # verify the required parameter 'merchant_id' is set
      if @api_client.config.client_side_validation && merchant_id.nil?
        fail ArgumentError, "Missing the required parameter 'merchant_id' when calling PlatformModelApi.show_submerchant_settlement"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PlatformModelApi.show_submerchant_settlement"
      end
      # resource path
      local_var_path = '/merchants/{merchant_id}/settlements/{id}'.sub('{' + 'merchant_id' + '}', CGI.escape(merchant_id.to_s)).sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Settlement'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"PlatformModelApi.show_submerchant_settlement",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlatformModelApi#show_submerchant_settlement\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Live Application: Simulate Payment Method Status
    # Simulate status change on payment method for test merchants
    # @param merchant_id [String] 
    # @param payment_method [String] 
    # @param simulate_live_application_payment_method_status_request [SimulateLiveApplicationPaymentMethodStatusRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def simulate_live_application_payment_method_status(merchant_id, payment_method, simulate_live_application_payment_method_status_request, opts = {})
      simulate_live_application_payment_method_status_with_http_info(merchant_id, payment_method, simulate_live_application_payment_method_status_request, opts)
      nil
    end

    # Live Application: Simulate Payment Method Status
    # Simulate status change on payment method for test merchants
    # @param merchant_id [String] 
    # @param payment_method [String] 
    # @param simulate_live_application_payment_method_status_request [SimulateLiveApplicationPaymentMethodStatusRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def simulate_live_application_payment_method_status_with_http_info(merchant_id, payment_method, simulate_live_application_payment_method_status_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlatformModelApi.simulate_live_application_payment_method_status ...'
      end
      # verify the required parameter 'merchant_id' is set
      if @api_client.config.client_side_validation && merchant_id.nil?
        fail ArgumentError, "Missing the required parameter 'merchant_id' when calling PlatformModelApi.simulate_live_application_payment_method_status"
      end
      # verify the required parameter 'payment_method' is set
      if @api_client.config.client_side_validation && payment_method.nil?
        fail ArgumentError, "Missing the required parameter 'payment_method' when calling PlatformModelApi.simulate_live_application_payment_method_status"
      end
      # verify the required parameter 'simulate_live_application_payment_method_status_request' is set
      if @api_client.config.client_side_validation && simulate_live_application_payment_method_status_request.nil?
        fail ArgumentError, "Missing the required parameter 'simulate_live_application_payment_method_status_request' when calling PlatformModelApi.simulate_live_application_payment_method_status"
      end
      # resource path
      local_var_path = '/live_application/{merchant_id}/payment_methods/{payment_method}/simulate_status'.sub('{' + 'merchant_id' + '}', CGI.escape(merchant_id.to_s)).sub('{' + 'payment_method' + '}', CGI.escape(payment_method.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(simulate_live_application_payment_method_status_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"PlatformModelApi.simulate_live_application_payment_method_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlatformModelApi#simulate_live_application_payment_method_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Live Application: Simulate Status
    # Simulate status change on applications for test merchants
    # @param merchant_id [String] 
    # @param simulate_live_application_payment_method_status_request [SimulateLiveApplicationPaymentMethodStatusRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def simulate_live_application_status(merchant_id, simulate_live_application_payment_method_status_request, opts = {})
      simulate_live_application_status_with_http_info(merchant_id, simulate_live_application_payment_method_status_request, opts)
      nil
    end

    # Live Application: Simulate Status
    # Simulate status change on applications for test merchants
    # @param merchant_id [String] 
    # @param simulate_live_application_payment_method_status_request [SimulateLiveApplicationPaymentMethodStatusRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def simulate_live_application_status_with_http_info(merchant_id, simulate_live_application_payment_method_status_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlatformModelApi.simulate_live_application_status ...'
      end
      # verify the required parameter 'merchant_id' is set
      if @api_client.config.client_side_validation && merchant_id.nil?
        fail ArgumentError, "Missing the required parameter 'merchant_id' when calling PlatformModelApi.simulate_live_application_status"
      end
      # verify the required parameter 'simulate_live_application_payment_method_status_request' is set
      if @api_client.config.client_side_validation && simulate_live_application_payment_method_status_request.nil?
        fail ArgumentError, "Missing the required parameter 'simulate_live_application_payment_method_status_request' when calling PlatformModelApi.simulate_live_application_status"
      end
      # resource path
      local_var_path = '/live_application/{merchant_id}/simulate_status'.sub('{' + 'merchant_id' + '}', CGI.escape(merchant_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(simulate_live_application_payment_method_status_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"PlatformModelApi.simulate_live_application_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlatformModelApi#simulate_live_application_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Settlement: CSV
    # View a settlement in CSV format given an `id`.
    # @param merchant_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def submerchant_settlement_csv(merchant_id, id, opts = {})
      submerchant_settlement_csv_with_http_info(merchant_id, id, opts)
      nil
    end

    # Settlement: CSV
    # View a settlement in CSV format given an &#x60;id&#x60;.
    # @param merchant_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def submerchant_settlement_csv_with_http_info(merchant_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlatformModelApi.submerchant_settlement_csv ...'
      end
      # verify the required parameter 'merchant_id' is set
      if @api_client.config.client_side_validation && merchant_id.nil?
        fail ArgumentError, "Missing the required parameter 'merchant_id' when calling PlatformModelApi.submerchant_settlement_csv"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PlatformModelApi.submerchant_settlement_csv"
      end
      # resource path
      local_var_path = '/merchants/{merchant_id}/settlements/{id}/csv'.sub('{' + 'merchant_id' + '}', CGI.escape(merchant_id.to_s)).sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"PlatformModelApi.submerchant_settlement_csv",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlatformModelApi#submerchant_settlement_csv\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Settlement: PDF
    # View a settlement in PDF format given an `id`.
    # @param merchant_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def submerchant_settlement_pdf(merchant_id, id, opts = {})
      submerchant_settlement_pdf_with_http_info(merchant_id, id, opts)
      nil
    end

    # Settlement: PDF
    # View a settlement in PDF format given an &#x60;id&#x60;.
    # @param merchant_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def submerchant_settlement_pdf_with_http_info(merchant_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlatformModelApi.submerchant_settlement_pdf ...'
      end
      # verify the required parameter 'merchant_id' is set
      if @api_client.config.client_side_validation && merchant_id.nil?
        fail ArgumentError, "Missing the required parameter 'merchant_id' when calling PlatformModelApi.submerchant_settlement_pdf"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PlatformModelApi.submerchant_settlement_pdf"
      end
      # resource path
      local_var_path = '/merchants/{merchant_id}/settlements/{id}/pdf'.sub('{' + 'merchant_id' + '}', CGI.escape(merchant_id.to_s)).sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"PlatformModelApi.submerchant_settlement_pdf",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlatformModelApi#submerchant_settlement_pdf\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Settlement: XLS
    # View a settlement in XLS format given an `id`.
    # @param merchant_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def submerchant_settlement_xls(merchant_id, id, opts = {})
      submerchant_settlement_xls_with_http_info(merchant_id, id, opts)
      nil
    end

    # Settlement: XLS
    # View a settlement in XLS format given an &#x60;id&#x60;.
    # @param merchant_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def submerchant_settlement_xls_with_http_info(merchant_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlatformModelApi.submerchant_settlement_xls ...'
      end
      # verify the required parameter 'merchant_id' is set
      if @api_client.config.client_side_validation && merchant_id.nil?
        fail ArgumentError, "Missing the required parameter 'merchant_id' when calling PlatformModelApi.submerchant_settlement_xls"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PlatformModelApi.submerchant_settlement_xls"
      end
      # resource path
      local_var_path = '/merchants/{merchant_id}/settlements/{id}/xls'.sub('{' + 'merchant_id' + '}', CGI.escape(merchant_id.to_s)).sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"PlatformModelApi.submerchant_settlement_xls",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlatformModelApi#submerchant_settlement_xls\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Live Application: Update
    # Updates the live application for the applicant merchant
    # @param merchant_id [String] 
    # @param live_application_request [LiveApplicationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def update_live_application(merchant_id, live_application_request, opts = {})
      update_live_application_with_http_info(merchant_id, live_application_request, opts)
      nil
    end

    # Live Application: Update
    # Updates the live application for the applicant merchant
    # @param merchant_id [String] 
    # @param live_application_request [LiveApplicationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def update_live_application_with_http_info(merchant_id, live_application_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlatformModelApi.update_live_application ...'
      end
      # verify the required parameter 'merchant_id' is set
      if @api_client.config.client_side_validation && merchant_id.nil?
        fail ArgumentError, "Missing the required parameter 'merchant_id' when calling PlatformModelApi.update_live_application"
      end
      # verify the required parameter 'live_application_request' is set
      if @api_client.config.client_side_validation && live_application_request.nil?
        fail ArgumentError, "Missing the required parameter 'live_application_request' when calling PlatformModelApi.update_live_application"
      end
      # resource path
      local_var_path = '/live_application/{merchant_id}'.sub('{' + 'merchant_id' + '}', CGI.escape(merchant_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(live_application_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"PlatformModelApi.update_live_application",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlatformModelApi#update_live_application\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Live Application: Update Payment Method
    # Update the payment method application of the applicant merchant
    # @param merchant_id [String] 
    # @param payment_method [String] 
    # @param update_payment_method_request [UpdatePaymentMethodRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def update_live_application_payment_method(merchant_id, payment_method, update_payment_method_request, opts = {})
      update_live_application_payment_method_with_http_info(merchant_id, payment_method, update_payment_method_request, opts)
      nil
    end

    # Live Application: Update Payment Method
    # Update the payment method application of the applicant merchant
    # @param merchant_id [String] 
    # @param payment_method [String] 
    # @param update_payment_method_request [UpdatePaymentMethodRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def update_live_application_payment_method_with_http_info(merchant_id, payment_method, update_payment_method_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlatformModelApi.update_live_application_payment_method ...'
      end
      # verify the required parameter 'merchant_id' is set
      if @api_client.config.client_side_validation && merchant_id.nil?
        fail ArgumentError, "Missing the required parameter 'merchant_id' when calling PlatformModelApi.update_live_application_payment_method"
      end
      # verify the required parameter 'payment_method' is set
      if @api_client.config.client_side_validation && payment_method.nil?
        fail ArgumentError, "Missing the required parameter 'payment_method' when calling PlatformModelApi.update_live_application_payment_method"
      end
      # verify the required parameter 'update_payment_method_request' is set
      if @api_client.config.client_side_validation && update_payment_method_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_payment_method_request' when calling PlatformModelApi.update_live_application_payment_method"
      end
      # resource path
      local_var_path = '/live_application/{merchant_id}/payment_methods/{payment_method}'.sub('{' + 'merchant_id' + '}', CGI.escape(merchant_id.to_s)).sub('{' + 'payment_method' + '}', CGI.escape(payment_method.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_payment_method_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"PlatformModelApi.update_live_application_payment_method",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlatformModelApi#update_live_application_payment_method\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Merchant: Update
    # Updates merchant.
    # @param id [String] 
    # @param update_merchant_request [UpdateMerchantRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def update_merchant(id, update_merchant_request, opts = {})
      update_merchant_with_http_info(id, update_merchant_request, opts)
      nil
    end

    # Merchant: Update
    # Updates merchant.
    # @param id [String] 
    # @param update_merchant_request [UpdateMerchantRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def update_merchant_with_http_info(id, update_merchant_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlatformModelApi.update_merchant ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PlatformModelApi.update_merchant"
      end
      # verify the required parameter 'update_merchant_request' is set
      if @api_client.config.client_side_validation && update_merchant_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_merchant_request' when calling PlatformModelApi.update_merchant"
      end
      # resource path
      local_var_path = '/merchants/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_merchant_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"PlatformModelApi.update_merchant",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlatformModelApi#update_merchant\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
