=begin
#KOMOJU API

#Full featured access to the KOMOJU payments system.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module Komoju
  class ChargebacksApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Chargeback: Accept
    # Accepts a chargeback, agreeing to the dispute. Takes no request body.  A chargeback can only be accepted while its status is `pending`. If the due date has passed, the request returns an error. Accepting an already-accepted chargeback returns `204` (idempotent).
    # @param id [String] The chargeback request UUID.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def accept_chargeback_request(id, opts = {})
      accept_chargeback_request_with_http_info(id, opts)
      nil
    end

    # Chargeback: Accept
    # Accepts a chargeback, agreeing to the dispute. Takes no request body.  A chargeback can only be accepted while its status is &#x60;pending&#x60;. If the due date has passed, the request returns an error. Accepting an already-accepted chargeback returns &#x60;204&#x60; (idempotent).
    # @param id [String] The chargeback request UUID.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def accept_chargeback_request_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ChargebacksApi.accept_chargeback_request ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ChargebacksApi.accept_chargeback_request"
      end
      if @api_client.config.client_side_validation && id.to_s.length > 25
        fail ArgumentError, 'invalid value for "id" when calling ChargebacksApi.accept_chargeback_request, the character length must be smaller than or equal to 25.'
      end

      if @api_client.config.client_side_validation && id.to_s.length < 25
        fail ArgumentError, 'invalid value for "id" when calling ChargebacksApi.accept_chargeback_request, the character length must be greater than or equal to 25.'
      end

      # resource path
      local_var_path = '/chargeback_requests/{id}/accept'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"ChargebacksApi.accept_chargeback_request",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ChargebacksApi#accept_chargeback_request\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Chargeback: Defend
    # Submits a defense against a chargeback, including supporting documentation.  A chargeback can only be defended while its status is `pending`. If the due date has passed, the request returns an error. Defending an already-defended chargeback returns `204` (idempotent). Only one defense can be created per chargeback request.  The `document.document_base64` payload must be 15 MB or less. Supported types are PDF, JPG/JPEG, PNG, and GIF; the type is inferred from the file's bytes, not the filename.
    # @param id [String] The chargeback request UUID.
    # @param defend_chargeback_request_body [DefendChargebackRequestBody] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def defend_chargeback_request(id, defend_chargeback_request_body, opts = {})
      defend_chargeback_request_with_http_info(id, defend_chargeback_request_body, opts)
      nil
    end

    # Chargeback: Defend
    # Submits a defense against a chargeback, including supporting documentation.  A chargeback can only be defended while its status is &#x60;pending&#x60;. If the due date has passed, the request returns an error. Defending an already-defended chargeback returns &#x60;204&#x60; (idempotent). Only one defense can be created per chargeback request.  The &#x60;document.document_base64&#x60; payload must be 15 MB or less. Supported types are PDF, JPG/JPEG, PNG, and GIF; the type is inferred from the file&#39;s bytes, not the filename.
    # @param id [String] The chargeback request UUID.
    # @param defend_chargeback_request_body [DefendChargebackRequestBody] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def defend_chargeback_request_with_http_info(id, defend_chargeback_request_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ChargebacksApi.defend_chargeback_request ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ChargebacksApi.defend_chargeback_request"
      end
      if @api_client.config.client_side_validation && id.to_s.length > 25
        fail ArgumentError, 'invalid value for "id" when calling ChargebacksApi.defend_chargeback_request, the character length must be smaller than or equal to 25.'
      end

      if @api_client.config.client_side_validation && id.to_s.length < 25
        fail ArgumentError, 'invalid value for "id" when calling ChargebacksApi.defend_chargeback_request, the character length must be greater than or equal to 25.'
      end

      # verify the required parameter 'defend_chargeback_request_body' is set
      if @api_client.config.client_side_validation && defend_chargeback_request_body.nil?
        fail ArgumentError, "Missing the required parameter 'defend_chargeback_request_body' when calling ChargebacksApi.defend_chargeback_request"
      end
      # resource path
      local_var_path = '/chargeback_requests/{id}/defend'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(defend_chargeback_request_body)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"ChargebacksApi.defend_chargeback_request",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ChargebacksApi#defend_chargeback_request\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Chargeback: List
    # Retrieves a paginated list of chargeback requests for the authenticated merchant.  Results are ordered with `pending` chargebacks first, followed by non-pending chargebacks. There is no request sort parameter.  This endpoint is only available to merchants with the chargeback feature enabled; otherwise it returns `404 Not Found`.
    # @param [Hash] opts the optional parameters
    # @option opts [Time] :start_time Query for records created after this time.
    # @option opts [Time] :end_time Query for records created before this time.
    # @option opts [Integer] :per_page How many objects per page.
    # @option opts [Integer] :page Page number to query for.
    # @option opts [ChargebackStatus] :status Filter by chargeback status.
    # @option opts [String] :payment_id Filter by the associated payment ID.
    # @option opts [Time] :due_date_start Lower bound (inclusive) on the chargeback&#39;s due date.
    # @option opts [Time] :due_date_end Upper bound (inclusive) on the chargeback&#39;s due date.
    # @return [ChargebackRequestList]
    def list_chargeback_requests(opts = {})
      data, _status_code, _headers = list_chargeback_requests_with_http_info(opts)
      data
    end

    # Chargeback: List
    # Retrieves a paginated list of chargeback requests for the authenticated merchant.  Results are ordered with &#x60;pending&#x60; chargebacks first, followed by non-pending chargebacks. There is no request sort parameter.  This endpoint is only available to merchants with the chargeback feature enabled; otherwise it returns &#x60;404 Not Found&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [Time] :start_time Query for records created after this time.
    # @option opts [Time] :end_time Query for records created before this time.
    # @option opts [Integer] :per_page How many objects per page.
    # @option opts [Integer] :page Page number to query for.
    # @option opts [ChargebackStatus] :status Filter by chargeback status.
    # @option opts [String] :payment_id Filter by the associated payment ID.
    # @option opts [Time] :due_date_start Lower bound (inclusive) on the chargeback&#39;s due date.
    # @option opts [Time] :due_date_end Upper bound (inclusive) on the chargeback&#39;s due date.
    # @return [Array<(ChargebackRequestList, Integer, Hash)>] ChargebackRequestList data, response status code and response headers
    def list_chargeback_requests_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ChargebacksApi.list_chargeback_requests ...'
      end
      # resource path
      local_var_path = '/chargeback_requests'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'start_time'] = opts[:'start_time'] if !opts[:'start_time'].nil?
      query_params[:'end_time'] = opts[:'end_time'] if !opts[:'end_time'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'payment_id'] = opts[:'payment_id'] if !opts[:'payment_id'].nil?
      query_params[:'due_date_start'] = opts[:'due_date_start'] if !opts[:'due_date_start'].nil?
      query_params[:'due_date_end'] = opts[:'due_date_end'] if !opts[:'due_date_end'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ChargebackRequestList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"ChargebacksApi.list_chargeback_requests",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ChargebacksApi#list_chargeback_requests\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Chargeback: Show
    # Retrieves the details of a single chargeback request, including its timeline, payment, customer, and defense (if one exists).  This endpoint is only available to merchants with the chargeback feature enabled; otherwise it returns `404 Not Found`.
    # @param id [String] The chargeback request UUID.
    # @param [Hash] opts the optional parameters
    # @return [ChargebackRequestDetail]
    def show_chargeback_request(id, opts = {})
      data, _status_code, _headers = show_chargeback_request_with_http_info(id, opts)
      data
    end

    # Chargeback: Show
    # Retrieves the details of a single chargeback request, including its timeline, payment, customer, and defense (if one exists).  This endpoint is only available to merchants with the chargeback feature enabled; otherwise it returns &#x60;404 Not Found&#x60;.
    # @param id [String] The chargeback request UUID.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ChargebackRequestDetail, Integer, Hash)>] ChargebackRequestDetail data, response status code and response headers
    def show_chargeback_request_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ChargebacksApi.show_chargeback_request ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ChargebacksApi.show_chargeback_request"
      end
      if @api_client.config.client_side_validation && id.to_s.length > 25
        fail ArgumentError, 'invalid value for "id" when calling ChargebacksApi.show_chargeback_request, the character length must be smaller than or equal to 25.'
      end

      if @api_client.config.client_side_validation && id.to_s.length < 25
        fail ArgumentError, 'invalid value for "id" when calling ChargebacksApi.show_chargeback_request, the character length must be greater than or equal to 25.'
      end

      # resource path
      local_var_path = '/chargeback_requests/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ChargebackRequestDetail'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"ChargebacksApi.show_chargeback_request",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ChargebacksApi#show_chargeback_request\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
