=begin
#KOMOJU API

#Full featured access to the KOMOJU payments system.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module Komoju
  class DisbursementsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Disbursement: Cancel
    # Cancels a disbursement.
    # @param id [String] 
    # @param cancel_disbursement_request [CancelDisbursementRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Disbursement]
    def cancel_disbursement(id, cancel_disbursement_request, opts = {})
      data, _status_code, _headers = cancel_disbursement_with_http_info(id, cancel_disbursement_request, opts)
      data
    end

    # Disbursement: Cancel
    # Cancels a disbursement.
    # @param id [String] 
    # @param cancel_disbursement_request [CancelDisbursementRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Disbursement, Integer, Hash)>] Disbursement data, response status code and response headers
    def cancel_disbursement_with_http_info(id, cancel_disbursement_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DisbursementsApi.cancel_disbursement ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DisbursementsApi.cancel_disbursement"
      end
      if @api_client.config.client_side_validation && id.to_s.length > 25
        fail ArgumentError, 'invalid value for "id" when calling DisbursementsApi.cancel_disbursement, the character length must be smaller than or equal to 25.'
      end

      if @api_client.config.client_side_validation && id.to_s.length < 25
        fail ArgumentError, 'invalid value for "id" when calling DisbursementsApi.cancel_disbursement, the character length must be greater than or equal to 25.'
      end

      # verify the required parameter 'cancel_disbursement_request' is set
      if @api_client.config.client_side_validation && cancel_disbursement_request.nil?
        fail ArgumentError, "Missing the required parameter 'cancel_disbursement_request' when calling DisbursementsApi.cancel_disbursement"
      end
      # resource path
      local_var_path = '/disbursements/{id}/cancel'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(cancel_disbursement_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Disbursement'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DisbursementsApi.cancel_disbursement",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DisbursementsApi#cancel_disbursement\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Disbursement: Create
    # Creates a new disbursement.
    # @param create_disbursement_request [CreateDisbursementRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Disbursement]
    def create_disbursement(create_disbursement_request, opts = {})
      data, _status_code, _headers = create_disbursement_with_http_info(create_disbursement_request, opts)
      data
    end

    # Disbursement: Create
    # Creates a new disbursement.
    # @param create_disbursement_request [CreateDisbursementRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Disbursement, Integer, Hash)>] Disbursement data, response status code and response headers
    def create_disbursement_with_http_info(create_disbursement_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DisbursementsApi.create_disbursement ...'
      end
      # verify the required parameter 'create_disbursement_request' is set
      if @api_client.config.client_side_validation && create_disbursement_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_disbursement_request' when calling DisbursementsApi.create_disbursement"
      end
      # resource path
      local_var_path = '/disbursements'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_disbursement_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Disbursement'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DisbursementsApi.create_disbursement",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DisbursementsApi#create_disbursement\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Disbursement: Report
    # View disbursements in CSV format.
    # @param start_time [Time] 
    # @param end_time [Time] 
    # @param currency [Currency] 
    # @param status [DisbursementStatus] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def disbursement_report(start_time, end_time, currency, status, opts = {})
      disbursement_report_with_http_info(start_time, end_time, currency, status, opts)
      nil
    end

    # Disbursement: Report
    # View disbursements in CSV format.
    # @param start_time [Time] 
    # @param end_time [Time] 
    # @param currency [Currency] 
    # @param status [DisbursementStatus] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def disbursement_report_with_http_info(start_time, end_time, currency, status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DisbursementsApi.disbursement_report ...'
      end
      # verify the required parameter 'start_time' is set
      if @api_client.config.client_side_validation && start_time.nil?
        fail ArgumentError, "Missing the required parameter 'start_time' when calling DisbursementsApi.disbursement_report"
      end
      # verify the required parameter 'end_time' is set
      if @api_client.config.client_side_validation && end_time.nil?
        fail ArgumentError, "Missing the required parameter 'end_time' when calling DisbursementsApi.disbursement_report"
      end
      # verify the required parameter 'currency' is set
      if @api_client.config.client_side_validation && currency.nil?
        fail ArgumentError, "Missing the required parameter 'currency' when calling DisbursementsApi.disbursement_report"
      end
      # verify the required parameter 'status' is set
      if @api_client.config.client_side_validation && status.nil?
        fail ArgumentError, "Missing the required parameter 'status' when calling DisbursementsApi.disbursement_report"
      end
      # resource path
      local_var_path = '/disbursements/report'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'start_time'] = start_time
      query_params[:'end_time'] = end_time
      query_params[:'currency'] = currency
      query_params[:'status'] = status

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DisbursementsApi.disbursement_report",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DisbursementsApi#disbursement_report\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Disbursement: List
    # Lists disbursements.
    # @param [Hash] opts the optional parameters
    # @option opts [Time] :start_time Query for records created after this time.
    # @option opts [Time] :end_time Query for records created before this time.
    # @option opts [Integer] :per_page How many objects per page.
    # @option opts [Integer] :page Page number to query for.
    # @option opts [Currency] :currency 
    # @return [DisbursementList]
    def list_disbursements(opts = {})
      data, _status_code, _headers = list_disbursements_with_http_info(opts)
      data
    end

    # Disbursement: List
    # Lists disbursements.
    # @param [Hash] opts the optional parameters
    # @option opts [Time] :start_time Query for records created after this time.
    # @option opts [Time] :end_time Query for records created before this time.
    # @option opts [Integer] :per_page How many objects per page.
    # @option opts [Integer] :page Page number to query for.
    # @option opts [Currency] :currency 
    # @return [Array<(DisbursementList, Integer, Hash)>] DisbursementList data, response status code and response headers
    def list_disbursements_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DisbursementsApi.list_disbursements ...'
      end
      # resource path
      local_var_path = '/disbursements'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'start_time'] = opts[:'start_time'] if !opts[:'start_time'].nil?
      query_params[:'end_time'] = opts[:'end_time'] if !opts[:'end_time'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'currency'] = opts[:'currency'] if !opts[:'currency'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DisbursementList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DisbursementsApi.list_disbursements",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DisbursementsApi#list_disbursements\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Disbursement: Show
    # Retrieves a disbursement.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Disbursement]
    def show_disbursement(id, opts = {})
      data, _status_code, _headers = show_disbursement_with_http_info(id, opts)
      data
    end

    # Disbursement: Show
    # Retrieves a disbursement.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Disbursement, Integer, Hash)>] Disbursement data, response status code and response headers
    def show_disbursement_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DisbursementsApi.show_disbursement ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DisbursementsApi.show_disbursement"
      end
      if @api_client.config.client_side_validation && id.to_s.length > 25
        fail ArgumentError, 'invalid value for "id" when calling DisbursementsApi.show_disbursement, the character length must be smaller than or equal to 25.'
      end

      if @api_client.config.client_side_validation && id.to_s.length < 25
        fail ArgumentError, 'invalid value for "id" when calling DisbursementsApi.show_disbursement, the character length must be greater than or equal to 25.'
      end

      # resource path
      local_var_path = '/disbursements/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Disbursement'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DisbursementsApi.show_disbursement",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DisbursementsApi#show_disbursement\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
