=begin
#KOMOJU API

#Full featured access to the KOMOJU payments system.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module Komoju
  class OneClickApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # External Customer: Destroy
    # Deletes the external customer created by the Hosted Page One-Click feature with the given `id`. This completely erases the stored payment details from our database.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DeleteExternalCustomer200Response]
    def delete_external_customer(id, opts = {})
      data, _status_code, _headers = delete_external_customer_with_http_info(id, opts)
      data
    end

    # External Customer: Destroy
    # Deletes the external customer created by the Hosted Page One-Click feature with the given &#x60;id&#x60;. This completely erases the stored payment details from our database.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteExternalCustomer200Response, Integer, Hash)>] DeleteExternalCustomer200Response data, response status code and response headers
    def delete_external_customer_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OneClickApi.delete_external_customer ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling OneClickApi.delete_external_customer"
      end
      # resource path
      local_var_path = '/external_customers/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteExternalCustomer200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"OneClickApi.delete_external_customer",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OneClickApi#delete_external_customer\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
