=begin
#KOMOJU API

#Full featured access to the KOMOJU payments system.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module Komoju
  class PaymentsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Payment: Cancel
    # Cancels a payment.  The given payment must have a state of `pending` or `authorized` in order to be canceled.
    # @param id [String] A unique identifier for the payment.
    # @param [Hash] opts the optional parameters
    # @return [Payment]
    def cancel_payment(id, opts = {})
      data, _status_code, _headers = cancel_payment_with_http_info(id, opts)
      data
    end

    # Payment: Cancel
    # Cancels a payment.  The given payment must have a state of &#x60;pending&#x60; or &#x60;authorized&#x60; in order to be canceled.
    # @param id [String] A unique identifier for the payment.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Payment, Integer, Hash)>] Payment data, response status code and response headers
    def cancel_payment_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentsApi.cancel_payment ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PaymentsApi.cancel_payment"
      end
      if @api_client.config.client_side_validation && id.to_s.length > 25
        fail ArgumentError, 'invalid value for "id" when calling PaymentsApi.cancel_payment, the character length must be smaller than or equal to 25.'
      end

      if @api_client.config.client_side_validation && id.to_s.length < 25
        fail ArgumentError, 'invalid value for "id" when calling PaymentsApi.cancel_payment, the character length must be great than or equal to 25.'
      end

      # resource path
      local_var_path = '/payments/{id}/cancel'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Payment'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"PaymentsApi.cancel_payment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentsApi#cancel_payment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Payment: Capture
    # Captures a payment.  Only works when the payment was created with `capture` set to false, or via a session with `capture` set to `\"manual\"`.
    # @param id [String] A unique identifier for the payment.
    # @param capture_payment_request [CapturePaymentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Payment]
    def capture_payment(id, capture_payment_request, opts = {})
      data, _status_code, _headers = capture_payment_with_http_info(id, capture_payment_request, opts)
      data
    end

    # Payment: Capture
    # Captures a payment.  Only works when the payment was created with &#x60;capture&#x60; set to false, or via a session with &#x60;capture&#x60; set to &#x60;\&quot;manual\&quot;&#x60;.
    # @param id [String] A unique identifier for the payment.
    # @param capture_payment_request [CapturePaymentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Payment, Integer, Hash)>] Payment data, response status code and response headers
    def capture_payment_with_http_info(id, capture_payment_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentsApi.capture_payment ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PaymentsApi.capture_payment"
      end
      if @api_client.config.client_side_validation && id.to_s.length > 25
        fail ArgumentError, 'invalid value for "id" when calling PaymentsApi.capture_payment, the character length must be smaller than or equal to 25.'
      end

      if @api_client.config.client_side_validation && id.to_s.length < 25
        fail ArgumentError, 'invalid value for "id" when calling PaymentsApi.capture_payment, the character length must be great than or equal to 25.'
      end

      # verify the required parameter 'capture_payment_request' is set
      if @api_client.config.client_side_validation && capture_payment_request.nil?
        fail ArgumentError, "Missing the required parameter 'capture_payment_request' when calling PaymentsApi.capture_payment"
      end
      # resource path
      local_var_path = '/payments/{id}/capture'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(capture_payment_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Payment'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"PaymentsApi.capture_payment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentsApi#capture_payment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Payment: Create
    # Creates a payment for a given `amount` and `currency`.  There are two ways to create payment:  - For one-time payment, you can pass `payment_details` with payment method type and additional attributes. - For recurring payment, you can pass customer's ID via `customer` attribute. Customer's saved payment method will be used for the payment.  Note that either `payment_details` or `customer` is required for the payment. However, both of them should not be given at the same time.
    # @param create_payment_request [CreatePaymentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Payment]
    def create_payment(create_payment_request, opts = {})
      data, _status_code, _headers = create_payment_with_http_info(create_payment_request, opts)
      data
    end

    # Payment: Create
    # Creates a payment for a given &#x60;amount&#x60; and &#x60;currency&#x60;.  There are two ways to create payment:  - For one-time payment, you can pass &#x60;payment_details&#x60; with payment method type and additional attributes. - For recurring payment, you can pass customer&#39;s ID via &#x60;customer&#x60; attribute. Customer&#39;s saved payment method will be used for the payment.  Note that either &#x60;payment_details&#x60; or &#x60;customer&#x60; is required for the payment. However, both of them should not be given at the same time.
    # @param create_payment_request [CreatePaymentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Payment, Integer, Hash)>] Payment data, response status code and response headers
    def create_payment_with_http_info(create_payment_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentsApi.create_payment ...'
      end
      # verify the required parameter 'create_payment_request' is set
      if @api_client.config.client_side_validation && create_payment_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_payment_request' when calling PaymentsApi.create_payment"
      end
      # resource path
      local_var_path = '/payments'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_payment_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Payment'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"PaymentsApi.create_payment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentsApi#create_payment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Payment: Refund Request
    # A \"Refund Request\" requests that a payment be refunded manually. This can be used for payment methods that do not support refunds, such as konbini. To support non-refundable payment methods, a bank account must be specified so that we know where to send the funds. Since it is a manual process, the refund will be carried out at a later date, and there's a possibility of it being rejected.
    # @param id [String] A unique identifier for the payment.
    # @param create_refund_request_request [CreateRefundRequestRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def create_refund_request(id, create_refund_request_request, opts = {})
      create_refund_request_with_http_info(id, create_refund_request_request, opts)
      nil
    end

    # Payment: Refund Request
    # A \&quot;Refund Request\&quot; requests that a payment be refunded manually. This can be used for payment methods that do not support refunds, such as konbini. To support non-refundable payment methods, a bank account must be specified so that we know where to send the funds. Since it is a manual process, the refund will be carried out at a later date, and there&#39;s a possibility of it being rejected.
    # @param id [String] A unique identifier for the payment.
    # @param create_refund_request_request [CreateRefundRequestRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def create_refund_request_with_http_info(id, create_refund_request_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentsApi.create_refund_request ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PaymentsApi.create_refund_request"
      end
      if @api_client.config.client_side_validation && id.to_s.length > 25
        fail ArgumentError, 'invalid value for "id" when calling PaymentsApi.create_refund_request, the character length must be smaller than or equal to 25.'
      end

      if @api_client.config.client_side_validation && id.to_s.length < 25
        fail ArgumentError, 'invalid value for "id" when calling PaymentsApi.create_refund_request, the character length must be great than or equal to 25.'
      end

      # verify the required parameter 'create_refund_request_request' is set
      if @api_client.config.client_side_validation && create_refund_request_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_refund_request_request' when calling PaymentsApi.create_refund_request"
      end
      # resource path
      local_var_path = '/payments/{id}/refund_request'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_refund_request_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"PaymentsApi.create_refund_request",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentsApi#create_refund_request\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Payment: Finalize
    # Finalizes a payment.  Finalizes an EMV contact transaction by confirming the chip card's final decision (TC for approved, AAC for declined). Use this after authorization to submit the terminal's transaction outcome and determine whether the payment is captured or cancelled.
    # @param id [String] A unique identifier for the payment.
    # @param finalize_payment_request [FinalizePaymentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Payment]
    def finalize_payment(id, finalize_payment_request, opts = {})
      data, _status_code, _headers = finalize_payment_with_http_info(id, finalize_payment_request, opts)
      data
    end

    # Payment: Finalize
    # Finalizes a payment.  Finalizes an EMV contact transaction by confirming the chip card&#39;s final decision (TC for approved, AAC for declined). Use this after authorization to submit the terminal&#39;s transaction outcome and determine whether the payment is captured or cancelled.
    # @param id [String] A unique identifier for the payment.
    # @param finalize_payment_request [FinalizePaymentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Payment, Integer, Hash)>] Payment data, response status code and response headers
    def finalize_payment_with_http_info(id, finalize_payment_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentsApi.finalize_payment ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PaymentsApi.finalize_payment"
      end
      if @api_client.config.client_side_validation && id.to_s.length > 25
        fail ArgumentError, 'invalid value for "id" when calling PaymentsApi.finalize_payment, the character length must be smaller than or equal to 25.'
      end

      if @api_client.config.client_side_validation && id.to_s.length < 25
        fail ArgumentError, 'invalid value for "id" when calling PaymentsApi.finalize_payment, the character length must be great than or equal to 25.'
      end

      # verify the required parameter 'finalize_payment_request' is set
      if @api_client.config.client_side_validation && finalize_payment_request.nil?
        fail ArgumentError, "Missing the required parameter 'finalize_payment_request' when calling PaymentsApi.finalize_payment"
      end
      # resource path
      local_var_path = '/payments/{id}/finalize'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(finalize_payment_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Payment'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"PaymentsApi.finalize_payment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentsApi#finalize_payment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Payment Method: List
    # Lists available payment methods.
    # @param [Hash] opts the optional parameters
    # @return [Array<AvailablePaymentMethod>]
    def list_payment_methods(opts = {})
      data, _status_code, _headers = list_payment_methods_with_http_info(opts)
      data
    end

    # Payment Method: List
    # Lists available payment methods.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<AvailablePaymentMethod>, Integer, Hash)>] Array<AvailablePaymentMethod> data, response status code and response headers
    def list_payment_methods_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentsApi.list_payment_methods ...'
      end
      # resource path
      local_var_path = '/payment_methods'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<AvailablePaymentMethod>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"PaymentsApi.list_payment_methods",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentsApi#list_payment_methods\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Payment: List
    # Retrieves a paginated list of payments. Pagination can be configured with `page` and `per_page` parameters.  Payments can be filtered by `currency`, `external_order_num`, and `status`.  A time range can be specified with `start_time`, and `end_time`.
    # @param [Hash] opts the optional parameters
    # @option opts [Time] :start_time Query for records created after this time.
    # @option opts [Time] :end_time Query for records created before this time.
    # @option opts [Integer] :per_page How many objects per page.
    # @option opts [Integer] :page Page number to query for.
    # @option opts [String] :merchant_id 
    # @option opts [Currency] :currency 
    # @option opts [String] :external_order_num A unique ID from your application used to track this payment.
    # @option opts [String] :status The status of the payment. Can be a single status or comma-separated values.
    # @return [PaymentList]
    def list_payments(opts = {})
      data, _status_code, _headers = list_payments_with_http_info(opts)
      data
    end

    # Payment: List
    # Retrieves a paginated list of payments. Pagination can be configured with &#x60;page&#x60; and &#x60;per_page&#x60; parameters.  Payments can be filtered by &#x60;currency&#x60;, &#x60;external_order_num&#x60;, and &#x60;status&#x60;.  A time range can be specified with &#x60;start_time&#x60;, and &#x60;end_time&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [Time] :start_time Query for records created after this time.
    # @option opts [Time] :end_time Query for records created before this time.
    # @option opts [Integer] :per_page How many objects per page.
    # @option opts [Integer] :page Page number to query for.
    # @option opts [String] :merchant_id 
    # @option opts [Currency] :currency 
    # @option opts [String] :external_order_num A unique ID from your application used to track this payment.
    # @option opts [String] :status The status of the payment. Can be a single status or comma-separated values.
    # @return [Array<(PaymentList, Integer, Hash)>] PaymentList data, response status code and response headers
    def list_payments_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentsApi.list_payments ...'
      end
      if @api_client.config.client_side_validation && !opts[:'merchant_id'].nil? && opts[:'merchant_id'].to_s.length > 25
        fail ArgumentError, 'invalid value for "opts[:"merchant_id"]" when calling PaymentsApi.list_payments, the character length must be smaller than or equal to 25.'
      end

      if @api_client.config.client_side_validation && !opts[:'merchant_id'].nil? && opts[:'merchant_id'].to_s.length < 25
        fail ArgumentError, 'invalid value for "opts[:"merchant_id"]" when calling PaymentsApi.list_payments, the character length must be great than or equal to 25.'
      end

      pattern = Regexp.new(/^(pending|authorized|captured|expired|cancelled|refunded)(,(pending|authorized|captured|expired|cancelled|refunded))*$/)
      if @api_client.config.client_side_validation && !opts[:'status'].nil? && opts[:'status'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"status\"]' when calling PaymentsApi.list_payments, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/payments'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'start_time'] = opts[:'start_time'] if !opts[:'start_time'].nil?
      query_params[:'end_time'] = opts[:'end_time'] if !opts[:'end_time'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'merchant_id'] = opts[:'merchant_id'] if !opts[:'merchant_id'].nil?
      query_params[:'currency'] = opts[:'currency'] if !opts[:'currency'].nil?
      query_params[:'external_order_num'] = opts[:'external_order_num'] if !opts[:'external_order_num'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"PaymentsApi.list_payments",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentsApi#list_payments\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Payment: Refund
    # Refunds an arbitrary amount of money from an existing payment. If no amount is specified, the whole payment is refunded.
    # @param id [String] A unique identifier for the payment.
    # @param refund_payment_request [RefundPaymentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Payment]
    def refund_payment(id, refund_payment_request, opts = {})
      data, _status_code, _headers = refund_payment_with_http_info(id, refund_payment_request, opts)
      data
    end

    # Payment: Refund
    # Refunds an arbitrary amount of money from an existing payment. If no amount is specified, the whole payment is refunded.
    # @param id [String] A unique identifier for the payment.
    # @param refund_payment_request [RefundPaymentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Payment, Integer, Hash)>] Payment data, response status code and response headers
    def refund_payment_with_http_info(id, refund_payment_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentsApi.refund_payment ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PaymentsApi.refund_payment"
      end
      if @api_client.config.client_side_validation && id.to_s.length > 25
        fail ArgumentError, 'invalid value for "id" when calling PaymentsApi.refund_payment, the character length must be smaller than or equal to 25.'
      end

      if @api_client.config.client_side_validation && id.to_s.length < 25
        fail ArgumentError, 'invalid value for "id" when calling PaymentsApi.refund_payment, the character length must be great than or equal to 25.'
      end

      # verify the required parameter 'refund_payment_request' is set
      if @api_client.config.client_side_validation && refund_payment_request.nil?
        fail ArgumentError, "Missing the required parameter 'refund_payment_request' when calling PaymentsApi.refund_payment"
      end
      # resource path
      local_var_path = '/payments/{id}/refund'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(refund_payment_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Payment'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"PaymentsApi.refund_payment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentsApi#refund_payment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Payment: Show
    # Retrieves a single payment object by its `id`.
    # @param id [String] A unique identifier for the payment.
    # @param [Hash] opts the optional parameters
    # @return [Payment]
    def show_payment(id, opts = {})
      data, _status_code, _headers = show_payment_with_http_info(id, opts)
      data
    end

    # Payment: Show
    # Retrieves a single payment object by its &#x60;id&#x60;.
    # @param id [String] A unique identifier for the payment.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Payment, Integer, Hash)>] Payment data, response status code and response headers
    def show_payment_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentsApi.show_payment ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PaymentsApi.show_payment"
      end
      if @api_client.config.client_side_validation && id.to_s.length > 25
        fail ArgumentError, 'invalid value for "id" when calling PaymentsApi.show_payment, the character length must be smaller than or equal to 25.'
      end

      if @api_client.config.client_side_validation && id.to_s.length < 25
        fail ArgumentError, 'invalid value for "id" when calling PaymentsApi.show_payment, the character length must be great than or equal to 25.'
      end

      # resource path
      local_var_path = '/payments/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Payment'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"PaymentsApi.show_payment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentsApi#show_payment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Payment: Update
    # Updates a payment.  Only a payment's `description` and `metadata` can be changed.
    # @param id [String] A unique identifier for the payment.
    # @param update_payment_request [UpdatePaymentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Payment]
    def update_payment(id, update_payment_request, opts = {})
      data, _status_code, _headers = update_payment_with_http_info(id, update_payment_request, opts)
      data
    end

    # Payment: Update
    # Updates a payment.  Only a payment&#39;s &#x60;description&#x60; and &#x60;metadata&#x60; can be changed.
    # @param id [String] A unique identifier for the payment.
    # @param update_payment_request [UpdatePaymentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Payment, Integer, Hash)>] Payment data, response status code and response headers
    def update_payment_with_http_info(id, update_payment_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentsApi.update_payment ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PaymentsApi.update_payment"
      end
      if @api_client.config.client_side_validation && id.to_s.length > 25
        fail ArgumentError, 'invalid value for "id" when calling PaymentsApi.update_payment, the character length must be smaller than or equal to 25.'
      end

      if @api_client.config.client_side_validation && id.to_s.length < 25
        fail ArgumentError, 'invalid value for "id" when calling PaymentsApi.update_payment, the character length must be great than or equal to 25.'
      end

      # verify the required parameter 'update_payment_request' is set
      if @api_client.config.client_side_validation && update_payment_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_payment_request' when calling PaymentsApi.update_payment"
      end
      # resource path
      local_var_path = '/payments/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_payment_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Payment'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"PaymentsApi.update_payment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentsApi#update_payment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
