=begin
#KOMOJU API

#Full featured access to the KOMOJU payments system.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module Komoju
  class SecureTokensApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # SecureToken: Create
    # Creates a SecureToken with the given credit card `payment_details` or `customer` ID.  There are two ways to create a SecureToken:  - Using `payment_details` with credit card information. - Using `customer` ID, which is a unique identifier for a customer created via the [Customer: Create](https://doc.komoju.com/reference/createcustomer) endpoint. Customer's saved payment details will be used as `payment_details`.  It is recommended to have a client application make this request directly so that sensitive payment information (e.g. credit card number) doesn't hit your server. Receiving credit card numbers requires your business to be PCI-DSS compliant. Once you create a secure token using a customer's credit card details, you can redirect the customer to the authentication url to perform 3DS authentication. Once a secure token has been authenticated, the secure token id can safely be sent to your server and used as `payment_details` to a future KOMOJU API request.
    # @param create_secure_token_request [CreateSecureTokenRequest] 
    # @param [Hash] opts the optional parameters
    # @return [SecureToken]
    def create_secure_token(create_secure_token_request, opts = {})
      data, _status_code, _headers = create_secure_token_with_http_info(create_secure_token_request, opts)
      data
    end

    # SecureToken: Create
    # Creates a SecureToken with the given credit card &#x60;payment_details&#x60; or &#x60;customer&#x60; ID.  There are two ways to create a SecureToken:  - Using &#x60;payment_details&#x60; with credit card information. - Using &#x60;customer&#x60; ID, which is a unique identifier for a customer created via the [Customer: Create](https://doc.komoju.com/reference/createcustomer) endpoint. Customer&#39;s saved payment details will be used as &#x60;payment_details&#x60;.  It is recommended to have a client application make this request directly so that sensitive payment information (e.g. credit card number) doesn&#39;t hit your server. Receiving credit card numbers requires your business to be PCI-DSS compliant. Once you create a secure token using a customer&#39;s credit card details, you can redirect the customer to the authentication url to perform 3DS authentication. Once a secure token has been authenticated, the secure token id can safely be sent to your server and used as &#x60;payment_details&#x60; to a future KOMOJU API request.
    # @param create_secure_token_request [CreateSecureTokenRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SecureToken, Integer, Hash)>] SecureToken data, response status code and response headers
    def create_secure_token_with_http_info(create_secure_token_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecureTokensApi.create_secure_token ...'
      end
      # verify the required parameter 'create_secure_token_request' is set
      if @api_client.config.client_side_validation && create_secure_token_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_secure_token_request' when calling SecureTokensApi.create_secure_token"
      end
      # resource path
      local_var_path = '/secure_tokens'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_secure_token_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SecureToken'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"SecureTokensApi.create_secure_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecureTokensApi#create_secure_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # SecureToken: Show
    # Retrieves a single SecureToken object by its `id`.
    # @param id [String] A unique identifier for the SecureToken.
    # @param [Hash] opts the optional parameters
    # @return [SecureToken]
    def show_secure_token(id, opts = {})
      data, _status_code, _headers = show_secure_token_with_http_info(id, opts)
      data
    end

    # SecureToken: Show
    # Retrieves a single SecureToken object by its &#x60;id&#x60;.
    # @param id [String] A unique identifier for the SecureToken.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SecureToken, Integer, Hash)>] SecureToken data, response status code and response headers
    def show_secure_token_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecureTokensApi.show_secure_token ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SecureTokensApi.show_secure_token"
      end
      if @api_client.config.client_side_validation && id.to_s.length > 25
        fail ArgumentError, 'invalid value for "id" when calling SecureTokensApi.show_secure_token, the character length must be smaller than or equal to 25.'
      end

      if @api_client.config.client_side_validation && id.to_s.length < 25
        fail ArgumentError, 'invalid value for "id" when calling SecureTokensApi.show_secure_token, the character length must be greater than or equal to 25.'
      end

      # resource path
      local_var_path = '/secure_tokens/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SecureToken'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"SecureTokensApi.show_secure_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecureTokensApi#show_secure_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
