=begin
#KOMOJU API

#Full featured access to the KOMOJU payments system.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module Komoju
  class SessionsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Session: Cancel
    # Cancels a session.
    # @param id [String] A unique identifier for the session.
    # @param [Hash] opts the optional parameters
    # @return [Session]
    def cancel_session(id, opts = {})
      data, _status_code, _headers = cancel_session_with_http_info(id, opts)
      data
    end

    # Session: Cancel
    # Cancels a session.
    # @param id [String] A unique identifier for the session.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Session, Integer, Hash)>] Session data, response status code and response headers
    def cancel_session_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SessionsApi.cancel_session ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SessionsApi.cancel_session"
      end
      # resource path
      local_var_path = '/sessions/{id}/cancel'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Session'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"SessionsApi.cancel_session",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SessionsApi#cancel_session\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Session: Create
    # Creates a session. There're 3 modes for the session:  * `payment`: A payment will be created after user completed the session (default). * `customer`: A customer will be created instead of a payment, or updated if `customer_id` is given. This customer resource can then be used to perform delayed billing or subscriptions. * `customer_payment`: A payment will be created, and customer will be created or updated. You can use this mode to charge money upfront and save customer's payment details in one go.
    # @param create_session_request [CreateSessionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Session]
    def create_session(create_session_request, opts = {})
      data, _status_code, _headers = create_session_with_http_info(create_session_request, opts)
      data
    end

    # Session: Create
    # Creates a session. There&#39;re 3 modes for the session:  * &#x60;payment&#x60;: A payment will be created after user completed the session (default). * &#x60;customer&#x60;: A customer will be created instead of a payment, or updated if &#x60;customer_id&#x60; is given. This customer resource can then be used to perform delayed billing or subscriptions. * &#x60;customer_payment&#x60;: A payment will be created, and customer will be created or updated. You can use this mode to charge money upfront and save customer&#39;s payment details in one go.
    # @param create_session_request [CreateSessionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Session, Integer, Hash)>] Session data, response status code and response headers
    def create_session_with_http_info(create_session_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SessionsApi.create_session ...'
      end
      # verify the required parameter 'create_session_request' is set
      if @api_client.config.client_side_validation && create_session_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_session_request' when calling SessionsApi.create_session"
      end
      # resource path
      local_var_path = '/sessions'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_session_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Session'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"SessionsApi.create_session",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SessionsApi#create_session\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Session: Pay
    # Provide customer payment details to pay for a session.
    # @param id [String] A unique identifier for the session.
    # @param pay_session_request [PaySessionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [PaySessionResponse]
    def pay_session(id, pay_session_request, opts = {})
      data, _status_code, _headers = pay_session_with_http_info(id, pay_session_request, opts)
      data
    end

    # Session: Pay
    # Provide customer payment details to pay for a session.
    # @param id [String] A unique identifier for the session.
    # @param pay_session_request [PaySessionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PaySessionResponse, Integer, Hash)>] PaySessionResponse data, response status code and response headers
    def pay_session_with_http_info(id, pay_session_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SessionsApi.pay_session ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SessionsApi.pay_session"
      end
      # verify the required parameter 'pay_session_request' is set
      if @api_client.config.client_side_validation && pay_session_request.nil?
        fail ArgumentError, "Missing the required parameter 'pay_session_request' when calling SessionsApi.pay_session"
      end
      # resource path
      local_var_path = '/sessions/{id}/pay'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(pay_session_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PaySessionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"SessionsApi.pay_session",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SessionsApi#pay_session\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Session: Show
    # Retrieves a Session given its ID.  A Session's status changes when the user completes or cancels their payment. You can listen for those events via webhooks, or use this API to poll for changes.
    # @param id [String] A unique identifier for the session.
    # @param [Hash] opts the optional parameters
    # @return [Session]
    def show_session(id, opts = {})
      data, _status_code, _headers = show_session_with_http_info(id, opts)
      data
    end

    # Session: Show
    # Retrieves a Session given its ID.  A Session&#39;s status changes when the user completes or cancels their payment. You can listen for those events via webhooks, or use this API to poll for changes.
    # @param id [String] A unique identifier for the session.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Session, Integer, Hash)>] Session data, response status code and response headers
    def show_session_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SessionsApi.show_session ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SessionsApi.show_session"
      end
      # resource path
      local_var_path = '/sessions/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Session'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"SessionsApi.show_session",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SessionsApi#show_session\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
